html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns:min-content 1fr;
    grid-template-areas: "sb hdr"
    "sb mcc" ;
}


/*sidebar css*/
.sidebar{
    grid-area: sb;
    display: grid;
    grid-template-rows: 5px auto 50px auto 50px auto 1fr;
    grid-template-areas: "."
    "sb-tab"
    "."
    "sb-s1"
    "."
    "sb-s2"
    ".";
    background-color: rgb(25,146,212);
    color: #FFFFFF;
    width: min-content;
    min-width: 250px;

}
/*
.sidebar>div{
    border: 1px solid black;
}
*/
.sidebar-tab{
    grid-area: sb-tab;
    font-weight: 500;
    font-size: 1.5rem;
}

.sidebar-s1{
    grid-area: sb-s1;
}

.sidebar-s2{
    grid-area: sb-s2;
}

.sidebar-s1, .sidebar-s2{
    font-weight: 450;
    font-size: 1.1rem;

}

.sidebar-tab{
    display: grid;
    align-items: center;
    grid-template-columns: 60px auto;
    padding-left:11%;
}

.sidebar-s1>div, .sidebar-s2>div{
    display: grid;
    align-items: center;
    grid-template-columns: 50px auto;
    padding-left: 15%;


}
/*
.sidebar-s1>div, .sidebar-s2>div{
    border: 1px black solid;
}
*/
#title-logo{
    height: 50px;
    width: 50px;
    grid-column: 1/2;
    fill: #FFFFFF;
}

#title{
    grid-column: 2/3;
}

.sidebar-icon{
    height: 25px;
    width: 25px;
    grid-column: 1/2;
    fill: #FFFFFF;
}

.sidebar-title{
    grid-column: 2/3;
}



/*header css*/
.header{
    grid-area: hdr;
    padding-left: 4%;
    padding-right: 4%;
    display: grid;
    grid-template-areas: "hr1"
    "hr2";
    padding-top: 10px;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 1;
}

.header-row1{
    grid-area: hr1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 3fr auto auto auto;
    align-items: center;
    margin-bottom: 10px;
}

#magnify-glass{
    margin-right:25px;
}

#searchbar{
    height: 25px;
    background-color: #e2e8f0;
    border-style: none;
    border-radius: 15px;
}

#bell-icon{
    margin-left: 100px;
}

.header-icon{
    height: 25px;
}

#header-profile-r1{
    height: 50px;
    fill: #facc14;
    margin-left: 25px;
}

#header-name-r1{
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 15px;
}



.header-row2{
    grid-area: hr2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: "hp2 hw . ."
    "hp2 hn . hbc";
    align-items: center;
    padding-bottom: 10px;
}

#header-profile-r2{
    height: 100px;
    fill: #facc14;
    grid-area: hp2;
    margin-right: 15px;
}

#header-welcome{
    grid-area: hw;
    font-weight: 600;
    margin-bottom: 0;
}

#header-name{
    grid-area: hn;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
}

.header-button-container{
    grid-area: hbc;
    align-self:flex-start;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    gap: 15px;
    }

.header-main-buttons{
    background-color: #1992d4;
    border-style: none;
    color:#ffffff ;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: .9rem;
    font-weight: 550;

}



/*main content container css*/
.main-content-container{
    grid-area: mcc;
    background-color: #e2e8f0;
    display: grid;
    grid-template-areas: "pc rcc"
    "pc rcc";
    padding-inline: 20px;
    padding-top: 25px;
    column-gap: 20px;
    max-width: 100vw;
}

.right-content-container{
    grid-area: rcc;
    display: grid;
    grid-template-areas: "ac"
    "tc";
    align-content: space-between;
}

/*projects*/
.projects-cards{
    grid-area: pc;
    display: grid;
    grid-template-areas: "pt ."
    "pc1 pc2"
    "pc3 pc4"
    "pc5 pc6";
    row-gap: 20px;
    column-gap: 20px;
    grid-template-rows: min-content auto auto auto;
}

#ptitle{
    grid-area: pt;
    height: min-content;
}

#pcard1{
    grid-area: pc1;
}

#pcard2{
    grid-area: pc2;
}

#pcard3{
    grid-area: pc3;
}

#pcard4{
    grid-area: pc4;
}

#pcard5{
    grid-area: pc5;
}

#pcard6{
    grid-area: pc6;
}

.main-titles{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.pcard-layout{
    background-color: #ffffff;
    padding-inline: 20px;

    border-left: 10px #f0b429 solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    min-width:min-content;
    max-width: 500px;
    display: grid;
    align-content: space-between;


}

.pcard-title{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.pcard-text{
    margin-top: 0;
    color: #8a8a8a;
}

.pcard-buttons{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 20px;

}

.pcard-icons{
    height: 25px;
    fill: #333333;
}


/*announcement*/
.announcement-cards{
    grid-area: ac;
    display: grid;
    grid-template-rows:min-content min-content;
    grid-template-areas: "at"
    "aac";
    row-gap: 20px;
    min-width: min-content;
    max-width: 400px;
    max-height: fit-content;
}

#atitle{
    grid-area: at;
    height: fit-content;

}

.all-acards{
    grid-area: aac;
    background-color: #ffffff;
    padding-inline: 30px;
    display: grid;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.acard-title{
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.acard-text{
    color: #8a8a8a;
    font-size: .9rem;
    padding-top: 0;
    margin-top: 0;
}

.acard-layout{
    border-bottom: 1px #8a8a8a solid;
}

#acard3{
    border-style: none;
}



/*trending*/
.trending-cards{
    grid-area: tc;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-areas: "tt"
    "atc";
    row-gap: 20px;
    min-width: min-content;
    max-width: 400px;
}

#ttitle{
    grid-area: tt;
}

.all-tcards{
    grid-area: atc;
    background-color: #ffffff;
    padding-inline: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    display: grid;
    row-gap: 25px;
}

.tcard-layout{
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content auto;
    grid-template-areas: "ti tn"
    "ti tt";
    align-items: center;
    column-gap: 15px;
}

.tcard-name{
    font-weight: 500;
    grid-area: tn;
    margin: 0;
}

.tcard-text{
    color: #8a8a8a;
    grid-area: tt;
    margin: 0;
}

.tcard-img{
    height: 50px;
    grid-area: ti;
}

#tcard1{
    fill: #e0f2fe;
}

#tcard2{
    fill: #facc14;
}

#tcard3{
    fill: #a3a3a3;
}

#tcard4{
    fill: #fda4af;
}
